#footer {
    width: 100%;
    background-color:#F7F7F9;

    .container {

        .topfooter {
            margin-top: 128px;
            height: 115px;
            border-bottom: 1px solid #27314247;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F7F7F9;
            width: 100%;

            h1{
                font-family: "Palanquin";
                font-weight: bold;
                font-size: 40px;
            }

            .searchBox {
                display: flex;
                align-items: center;
                height: 48px;
                border: 1px solid #9E9E9E;
                padding: 16px;
                border-radius: 8px;
                background-color: #FFFFFF;

                input{
                    width: 504px;
                    outline: none;
                    border: none;
                    background: transparent;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Poppins";
                    color: #AAAAAA;
                }
            }
        }

        .downfooter {
            height: 431px;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            align-content: center;
            justify-content: space-between;
            background-color: #F7F7F9;


            .downitems {
                display: flex;
                flex-direction: column;

                .downp {
                    font-family: "Poppins";
                    color: #212121;
                    opacity: 75%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27.2px;
                    padding-bottom: 40px;
                    width: 326px;
                }

                a{
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 16px;
                }

                .email {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 24px;
                    a{ color: #212121;
                    opacity: 75%;
                    font-family: "Poppins";}
                }

                .phone {
                    display: flex;
                    align-items: center;
                    gap: 11px;
                    padding-bottom: 48px;
                    a{ color: #212121;
                    opacity: 75%;
                    font-family: "Rubik";}
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border: 1px solid #171717;
                    opacity: 80%;
                    border-radius: 8px;
                    height: 48px;
                    width: 179px;
                    justify-content: center;
                    a{ color: #212121;
                    opacity: 90%;
                    font-family: "Poppins";}
                }

                h2{
                    font-family: "Rubik";
                    font-weight: 500;
                    font-size: 18px;
                    color: #212121;
                    padding-bottom: 20px;
                }

                .txt{
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 16px;
                    color: #212121;
                    opacity: 75%;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .bottomfooter {
        width: 100%;
        background-color: #FFFFFF;
        .container {
            background-color: #FFFFFF;
            .bottomitems{
                height: 72px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #FFFFFF;

                p{
                    font-family: "Poppins";
                    color: #212121;
                    opacity: 75%;
                    font-weight: 400;
                    font-size: 16px;
                }
                .socialmedias{
                    a{ text-decoration: none;}
                    .wp{padding-left: 36px;}
                    .fb{padding-left: 36px;}
                }
            }
        }
    } 
}


@media only screen and (max-width: 992px) {
        #footer{
            .container{
                .topfooter{
                    display: flex;
                    justify-content: center;
                    .searchBox{
                        display: none;
                    }
                }

                .downfooter{
                    height: 445px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .downitems {
                        align-items: center;
        
                        p {
                            padding-bottom: 20px;
                            padding-top: 30px;
                            text-align: center;
                        }
        
                        .phone {
                            padding-bottom: 20px;
                        }
        
                        h2{
                            padding-bottom: 10px;
                            padding-top: 30px;
                        }
        
                        .txt{
                            padding-bottom: 10px;
                        }
                    }
            }
        }

        .bottomfooter {

            .container {
    
                .bottomitems{
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    
                    .socialmedias{
                        // border: 1px solid black;
                        a{ text-decoration: none;}
                        .wp{padding-left: 15px;}
                        .fb{padding-left: 15px;}
                    }
                }
            }
        }
    }
}