.section3 {
    background-color: white;
    width: 100%;
    .bagscontainer {
      max-width: 1128px;
      margin: auto;
  
      .bagsheader {
        margin-top: 96px;
        display: grid;
        grid-template-columns: 1fr 135px;
        h1 {
          font-size: 32px;
          font-weight: 500;
          line-height: 54.4px;
          font-family: "Rubik";
        }
        .view {
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            color: #000000;
            font-family: "Rubik";
            font-size: 15px;
          }
        }
      }
      .bagcards {
        align-items: center;
        display: inline-block;
        padding-left: 10px;
  
        .baggrid {
          position: relative;
          margin-top: 32px;
  
          .bag {
            background-color: #f9f9f9;
            width: 360px;
            height: 508px;
            border-radius: 8px;
            padding-left: 24px;
  
            .imgbag1 {
              display: flex;
              justify-content: center;
              padding-right: 24px;
            }
            .imgbag2 {
              display: flex;
              justify-content: center;
              padding-top: 22px;
              padding-right: 24px;
            }
            .imgbag3 {
              display: flex;
              justify-content: center;
              padding-right: 24px;
            }
            .stars {
              padding-top: 16px;
            }
            .abouttext {
              padding-top: 16px;
              font-size: 16px;
              font-weight: 400;
              line-height: 27.2px;
              font-family: "Rubik";
            }
            .bagfee {
              display: flex;
              align-items: center;
              padding-top: 16px;
              span {
                font-size: 20px;
                line-height: 34px;
                font-weight: 600;
                font-family: "Poppins";
                color: #f75145;
              }
              p {
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                color: rgba(54, 54, 54, 0.75);
                padding-left: 16px;
              }
            }
            .bagbutton {
              padding-top: 31px;
  
              button {
                width: 312px;
                height: 48px;
                border-radius: 8px;
                border: 1px solid black;
                font-size: 16px;
                line-height: 27.2px;
                font-weight: 500;
                font-family: "Poppins";
              }
            }
            .new {
              position: absolute;
              top: 16px;
              left: 16px;
              button {
                width: 79px;
                height: 32px;
                border-radius: 8px;
                border: none;
                background-color: rgba(67, 209, 103, 1);
                color: white;
              }
            }
            .otuz {
              position: absolute;
              top: 16px;
              left: 16px;
              button {
                width: 79px;
                height: 32px;
                border-radius: 8px;
                border: none;
                background-color: rgba(223, 66, 68, 1);
                color: white;
              }
            }
            .aciqurey {
              position: absolute;
              top: 16px;
              left: 322px;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 992px){
    .section3 {
      background-color: white;
      width: 100%;
      .bagscontainer {
        max-width: 1128px;
        margin: auto;
    
        .bagsheader {
          margin-top: 96px;
          display: grid;
          grid-template-columns: 1fr 135px;
          h1 {
            width: 500px;
            padding-left: 200px;
            font-size: 32px;
            font-weight: 500;
            line-height: 54.4px;
            font-family: "Rubik";
          }
          .view {
            display: flex;
            align-items: center;
            a {
              text-decoration: none;
              color: #000000;
              font-family: "Rubik";
              font-size: 15px;
            }
          }
        }
        .bagcards {
          align-items: center;
         display: flex;
         justify-content: center;
          padding-left: 10px;
    
          .baggrid {
            position: relative;
            margin-top: 32px;
    
            .bag {
              background-color: #f9f9f9;
              width: 360px;
              height: 508px;
              border-radius: 8px;
              padding-left: 24px;
    
              .imgbag1 {
                display: flex;
                justify-content: center;
                padding-right: 24px;
              }
              .imgbag2 {
                display: flex;
                justify-content: center;
                padding-top: 22px;
                padding-right: 24px;
              }
              .imgbag3 {
                display: flex;
                justify-content: center;
                padding-right: 24px;
              }
              .stars {
                padding-top: 16px;
              }
              .abouttext {
                padding-top: 16px;
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                font-family: "Rubik";
              }
              .bagfee {
                display: flex;
                align-items: center;
                padding-top: 16px;
                span {
                  font-size: 20px;
                  line-height: 34px;
                  font-weight: 600;
                  font-family: "Poppins";
                  color: #f75145;
                }
                p {
                  font-family: "Poppins";
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 27.2px;
                  color: rgba(54, 54, 54, 0.75);
                  padding-left: 16px;
                }
              }
              .bagbutton {
                padding-top: 31px;
    
                button {
                  width: 312px;
                  height: 48px;
                  border-radius: 8px;
                  border: 1px solid black;
                  font-size: 16px;
                  line-height: 27.2px;
                  font-weight: 500;
                  font-family: "Poppins";
                }
              }
              .new {
                position: absolute;
                top: 16px;
                left: 16px;
                button {
                  width: 79px;
                  height: 32px;
                  border-radius: 8px;
                  border: none;
                  background-color: rgba(67, 209, 103, 1);
                  color: white;
                }
              }
              .otuz {
                position: absolute;
                top: 16px;
                left: 16px;
                button {
                  width: 79px;
                  height: 32px;
                  border-radius: 8px;
                  border: none;
                  background-color: rgba(223, 66, 68, 1);
                  color: white;
                }
              }
              .aciqurey {
                position: absolute;
                top: 16px;
                left: 322px;
              }
            }
          }
        }
      }
    }
  }