#favorites {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    .main {
        
        .container{
            background-color: rgb(255, 255, 255);

            .home {
                display: flex;
                align-items: center;
                gap: 13px;
                padding-top: 32px;
                padding-bottom: 6px;
                a{
                    text-decoration: none;
                }

                .hometxt {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 16px;
                    color: #1D1D1D;
                }

                .fav {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    color: #1D1D1D;
                    opacity: 75%;
                }
            }

            h1{
                font-family: "Rubik";
                font-weight: 500;
                font-size: 40px;
                color: #212121;
                padding-bottom: 32px;
            }

            .leftandright {
                display: flex;
                gap: 97px;

                .cardBox {
                    width: 264px;
                    height: 344px;
                    border: 1px solid #E4E4E4;
                    border-radius: 8px;

                    a{
                        font-family: "Poppins";
                        font-weight: 400;
                        font-size: 14px;
                        color: #212121;
                        text-decoration: none;
                    }

                    .imgbox {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 17px 0 17px 14px;

                        .imgtext {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            h3{
                                font-family: "Rubik";
                                font-weight: 500;
                                font-size: 16px;
                                color: #212121;
                            }

                            p{
                                font-family: "Poppins";
                                font-weight: 400;
                                font-size: 14px;
                                color: #212121;
                                opacity: 75%;
                            }
                        }
                    }

                    .order {
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        border-top: 1px solid #E4E4E4;
                        padding: 14px 0 14px 24px;
                    }

                    .favorites{
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        border-top: 1px solid #E4E4E4;
                        border-left: 3px solid #007878;
                        padding: 14px 0 14px 24px;
                        background-color: #F9F9F9;
                    }

                    .comment {
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        border-top: 1px solid #E4E4E4;
                        padding: 14px 0 14px 24px;
                    }

                    .address {
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        border-top: 1px solid #E4E4E4;
                        padding: 14px 0 14px 24px;
                    }

                    .adjustment{
                        display: flex;
                        align-items: center;
                        gap: 13px;
                        border-top: 1px solid #E4E4E4;
                        padding: 14px 0 14px 24px;
                    }

                }

                .bagsgrid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 48px;

                    .bags {
                        width: 360px;
                        height: 510px;
                        border-radius: 8px;
                        background-color: #F9F9F9;
                        position: relative;

                        .off {
                            width: 79px;
                            height: 32px;
                            border-radius: 8px;
                            background-color: #DF4244;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 16px;
                            top: 16px;

                            p {
                                font-family: "Poppins";
                                font-weight: 500;
                                font-size: 16px;
                                color: #FFFFFF;
                            }
                        }

                        .new {
                            width: 79px;
                            height: 32px;
                            border-radius: 8px;
                            background-color: #43D167;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 16px;
                            top: 16px;

                            p{
                                font-family: "Poppins";
                                font-weight: 500;
                                font-size: 16px;
                                color: #FFFFFF;
                            }
                        }

                        .close {
                            position: absolute;
                            right: 16px;
                            top: 16px;
                            background-color: #ffffff;
                            border-radius: 50px;
                            width: 32px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                        }

                        .bagimg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 11px;
                        }

                        .bagimgg {
                            display: flex;
                            justify-content: center;
                            height: 253px;
                        }

                        .stars {
                            padding-top: 16px;
                            padding-bottom: 16px;
                            padding-left: 24px;
                        }

                        .txtt{
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 16px;
                            width: 302px;
                            line-height: 27px;
                            padding-left: 24px;
                            padding-bottom: 16px;
                            color: #000000;
                        }

                        .to {
                            font-family: "Poppins";
                            font-weight: 600;
                            font-size: 20px;
                            color: #F75145;
                            padding-left: 24px;
                        }

                        .from {
                            font-family: "Poppins";
                            font-weight: 400;
                            font-size: 16px;
                            color: #363636;
                            opacity: 75%;
                            padding-left: 18px;
    
                        }

                        .btn {
                            width: 312px;
                            height: 48px;
                            border: 1px solid #212121;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 20px;
                            margin-left: 24px;

                            button {
                                border: none;
                                background: none;
                                font-family: "Poppins";
                                font-weight: 600;
                                font-size: 16px;
                                color: #212121;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #favorites {

        .main {

            .container {

                .home {
                    display: flex;
                    justify-content: center;
                }

                h1{
                    text-align: center;
                }

                .leftandright {
                    display: flex;
                    justify-content: center;
                    .cardBox {
                        display: none;
                    }

                    .bagsgrid {
                        display: grid;
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
  }