#upsection {
    width: 100%;
    background-color: #FFE2E0;

    .container{
        background-color: #FFE2E0;
        .products{
            height: 584px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .productsItems{
                display: flex;
                align-items: center;

                div{

                    .discount{
                        font-family: "Rubik";
                        font-weight: 500;
                        font-size: 24px;
                        color: #DF4244;
                        padding-bottom: 15px;
                    }

                        h1{
                            font-family: "Rubik";
                            font-weight: 700;
                            font-size: 40px;
                            color: #212121;
                            padding-bottom: 15px;
                        }

                        p{
                            font-family: "Poppins";
                            color: #212121;
                            opacity: 75%;
                            width: 453px;
                            font-size: 16px;
                            line-height: 27.2px;
                            font-weight: 400;
                        }

                        .btn{
                            padding-top: 48px;

                        button{
                            width: 192px;
                            height: 52px;
                            border-radius: 8px;
                            background-color: #206363;
                            border: none;
                            a{
                                text-decoration: none;
                                color: #FFFFFF;
                                font-family: "Poppins";
                                font-weight: 500;
                                font-size: 16px;
                            }
                        }
                    }

                    .objects{
                        display: flex;
                        gap: 17px;
                        padding-top: 128px;

                        .circle {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: #206363;
                            opacity: 25%;
                        }

                        .oval {
                            width: 26px;
                            height: 12px;
                            border-radius: 8px;
                            background-color: #DF4244;
                        }
                    }
                
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #upsection {

        .container{

            .products{
                display: grid;
                grid-template-columns: 1fr;

                .productsItems{
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    img{
                        width: 300px;
                        height: 300px;
        
                    }

                    div{

                        .objects{
                            display: none;
                        }
                    }

                }

            }
        }
    }
  }
  