#shoulderbags {
    width: 100%;
    background-color: rgb(255, 255, 255);

    .main {

        .container {
            background-color: rgb(255, 255, 255);

            .home {
                padding-top: 32px;
                margin-bottom: 6px;
                gap: 13px;
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                }

                .hometxt {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    color: #1D1D1D;
                }

                .shouldertxt {
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 14px;
                    color: #1D1D1D;
                    opacity: 75%;
                }
            }

            h1 {
                font-family: "Rubik";
                font-weight: 500;
                font-size: 40px;
                color: #212121;
                padding-bottom: 14px;
            }

            .basics {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 27px;
                padding-bottom: 32px;

                p{
                    font-family: "Poppins";
                    font-weight: 400;
                    font-size: 16px;
                    color: #212121;
                    opacity: 90%;
                }

                .featured {
                    width: 140px;
                    height: 40px;
                    border: 1px solid #D0D0D0;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    a{
                        text-decoration: none;
                        font-family: "Poppins";
                        font-weight: 400;
                        font-size: 16px;
                        color: #212121;
                        opacity: 90%;
                    }

                }
            }

            .leftandright{
                display: flex;
                gap: 40px;
                
                .allcategories {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    
                    .categories{
                        width: 326px;
                        height: 340px;
                        border: 1px solid #D0D0D0;
                        border-radius: 8px;
                        position: relative;

                        h2{
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 20px;
                            color: #212121;
                            padding-top: 16px;
                            padding-left: 40px;
                        }

                        .downarrow {
                            position: absolute;
                            right: 38px;
                            top: 15px;
                        }

                        .uparrow{
                            display: none;
                        }

                        ul {
                            padding-left: 40px;
                            padding-top: 24px;
                            
                            a{
                                text-decoration: none;

                                .sametxt{
                                    list-style: none;
                                    font-family: "Poppins";
                                    font-weight: 400;
                                    font-size: 16px;
                                    color: #212121;
                                    opacity: 90%;
                                    padding-bottom: 16px;
                                }

                                .diftxt {
                                    list-style: none;
                                    font-family: "Poppins";
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: #212121;
                                    padding-bottom: 16px;
                                }
                            }
                        }
                    }

                    .material {
                        width: 326px;
                        height: 340px;
                        border: 1px solid #D0D0D0;
                        border-radius: 8px;
                        position: relative;

                        h2 {
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 20px;
                            color: #212121;
                            padding-top: 16px;
                            padding-left: 40px;
                            padding-bottom: 24px;
                        }

                        .downarrow{
                            position: absolute;
                            right: 38px;
                            top: 15px;
                        }

                        .uparrow{
                            display: none;
                        }

                        .center {
                            display: flex;
                            align-items: center;
                            gap: 14px;
                            padding-left: 40px;
                            padding-bottom: 20px;
                        }

                        .thesame {
                            appearance: none;
                            width: 16px;
                            height: 16px;
                            border: none;
                            background: none;
                            background-color: #FFFFFF;
                            border: 1px solid #212121;
                            opacity: 90%;
                            border-radius: 3px;
                            cursor: pointer;
                            outline: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .thesame:after {
                            font-family: "Font Awesome 6 Free";
                            content: "\f00c";
                            font-weight: 900;
                            font-size: 12px;
                            color: #FFFFFF;
                            display: none;
                        }

                        .thesame:hover{
                            background-color:#e0d5d5e7 ;
                        }

                        .thesame:checked{
                            background-color: #EF544F;
                        }

                        .thesame:checked:after{
                            display: block;
                        }

                        .thedifferent{
                            appearance: none;
                            width: 16px;
                            height: 16px;
                            border-radius: 3px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .thedifferent:after{
                            font-family: "Font Awesome 6 Free";
                            content: "\f00c";
                            font-weight: 900;
                            font-size: 12px;
                            color: #FFFFFF;
                            display: none;
                        }

                        .thedifferent:checked{
                            background-color: #EF544F;
                        }

                        .thedifferent:checked:after{
                            display: block;
                        }

                        .samelabel{
                            font-family: "Poppins";
                            font-weight: 400;
                            font-size: 16px;
                            color: #212121;
                            opacity: 90%;
                        }

                        .diflabel{
                            font-family: "Poppins";
                            font-weight: 500;
                            font-size: 16px;
                            color: #212121;
                        }
                    }

                    .secondmaterial {
                        width: 326px;
                        height: 146px;
                        border: 1px solid #D0D0D0;
                        border-radius: 8px;
                        position: relative;

                        h2{
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 20px;
                            color: #212121;
                            padding-top: 16px;
                            padding-left: 40px;
                            padding-bottom: 24px;
                        }

                        .downarrow{
                            position: absolute;
                            right: 38px;
                            top: 15px;
                        }

                        .uparrow{
                            display: none;
                        }

                        .items {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding-left: 40px;

                            .firstprice {
                                border: 1px solid #C8C8C8;
                                padding: 7px 24px 6px 21px;
                                border-radius: 8px;
                                font-family: "Rubik";
                                font-weight: 400;
                                font-size: 16px;
                                color: #212121;
                                opacity: 75%;
                            }

                            .line {
                                font-family: "Rubik";
                                font-weight: 400;
                                font-size: 16px;
                                color: #212121;
                                opacity: 75%;
                            }

                            .secondprice {
                                border: 1px solid #C8C8C8;
                                padding: 7px 21px 6px 21px;
                                border-radius: 8px;
                                font-family: "Rubik";
                                font-weight: 400;
                                font-size: 16px;
                                color: #212121;
                                opacity: 75%;
                            }

                            .lupa {
                                border-radius: 8px;
                                background-color: #EF544F;
                                padding: 7px 16px 7px 15px;
                            }
                        }
                    }

                    .size{
                        width: 326px;
                        height: 146px;
                        border: 1px solid #D0D0D0;
                        border-radius: 8px;
                        position: relative;

                        h2{
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 20px;
                            color: #212121;
                            padding-top: 16px;
                            padding-left: 40px;
                            padding-bottom: 24px;
                        }

                        .downarrow{
                            position: absolute;
                            right: 38px;
                            top: 15px;
                        }

                        .uparrow{
                            display: none;
                        }

                        .sizeitems {
                            display: flex;
                            align-items: center;
                            gap: 14px;
                            padding-left: 40px;

                            .xssize{
                                border: 1px solid #C8C8C8;
                                border-radius: 8px;
                                padding: 7px 22px 6px 23px;
                                font-family: "Poppins";
                                font-weight: 400;
                                font-size: 16px;
                                color: #212121;
                                opacity: 75%;
                            }

                            .ssize {
                                border: 1px solid #C8C8C8;
                                border-radius: 8px;
                                padding: 7px 27px 6px 27px;
                                font-family: "Poppins";
                                font-weight: 400;
                                font-size: 16px;
                                color: #212121;
                                opacity: 75%;

                            }

                            .msize {
                                border: 1px solid #C8C8C8;
                                border-radius: 8px;
                                padding: 7px 25px 6px 25px;
                                font-family: "Poppins";
                                font-weight: 400;
                                font-size: 16px;
                                color: #212121;
                                opacity: 75%;

                            }
                        }
                    }

                    .color{
                        width: 326px;
                        height: 146px;
                        border: 1px solid #D0D0D0;
                        border-radius: 8px;
                        position: relative;

                        h2{
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 20px;
                            color: #212121;
                            padding-top: 16px;
                            padding-left: 40px;
                            padding-bottom: 24px;
                        }

                        .downarrow{
                            position: absolute;
                            right: 38px;
                            top: 15px;
                        }

                        .uparrow{
                            display: none;
                        }

                        .firstrow {
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            padding-left: 40px;
                            padding-bottom: 16px;

                            .same {
                                width: 18px;
                                height: 18px;
                                border-radius: 50px;
                            }

                            .circleborder{
                                border: 1px solid #273142;
                                opacity: 75%;
                                padding: 3px;
                                border-radius: 50px;
                                .circle1{
                                    background-color: #275240;
                                }
                            }

                            .circle2 {
                                background-color: #0085FF;
                            }

                            .circle3{
                                background-color: #3D2A33;
                            }

                            .circle4{
                                background-color: #773838;
                            }

                            .circle5{
                                background-color: #000000;
                            }

                            .circle6{
                                background-color: #307E46;
                            }

                            .circle7{
                                background-color: #0085FF;
                            }
                        }

                        .secondrow{
                            display: flex;
                            align-items: center;
                            gap: 17px;
                            padding-left: 44px;

                            .same {
                                width: 18px;
                                height: 18px;
                                border-radius: 50px;
                            }

                            .circle8{
                                background-color: #FF6B00;
                            }

                            .circle9{
                                background-color: #D6B73B;
                            }

                            .circle10{
                                background-color: #7C4DFF;
                            }

                            .circle11{
                                background-color: #F75145;
                            }

                            .circle12{
                                background-color: #842759;
                            }

                            .circle13{
                                background-color: #895C31;
                            }
                        }
                    }
                }

                .bagsgrid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 40px;

                    .bags{
                        width: 360px;
                        height: 510px;
                        border-radius: 8px;
                        background-color: #F9F9F9;
                        position: relative;

                        .off{
                            width: 79px;
                            height: 32px;
                            border-radius: 8px;
                            background-color: #DF4244;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 16px;
                            top: 16px;

                            p{
                                font-family: "Poppins";
                                font-weight: 500;
                                font-size: 16px;
                                color: #FFFFFF;
                            }
                        }

                        .new{
                            width: 79px;
                            height: 32px;
                            border-radius: 8px;
                            background-color: #43D167;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            left: 16px;
                            top: 16px;

                            p{
                                font-family: "Poppins";
                                font-weight: 500;
                                font-size: 16px;
                                color: #FFFFFF;
                            }
                        }

                        .heart{
                            position: absolute;
                            right: 16px;
                            top: 16px;
                        }

                        .fullheart{
                            position: absolute;
                            right: 16px;
                            top: 16px;
                        }

                        .bagimg{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 11px;
                        }

                        .bagimgg{
                            display: flex;
                            justify-content: center;
                            height: 255px;
                        }

                        .stars{
                            padding-top: 16px;
                            padding-bottom: 16px;
                            padding-left: 24px;
                        }

                        .txtt{
                            font-family: "Rubik";
                            font-weight: 500;
                            font-size: 16px;
                            width: 302px;
                            line-height: 27px;
                            padding-left: 24px;
                            padding-bottom: 16px;
                            color: #000000;
                        }

                        .to {
                            font-family: "Poppins";
                            font-weight: 600;
                            font-size: 20px;
                            color: #F75145;
                            padding-left: 24px;
                        }

                        .from {
                            font-family: "Poppins";
                            font-weight: 400;
                            font-size: 16px;
                            color: #363636;
                            opacity: 75%;
                            padding-left: 18px;
                        }

                        .btn{
                            width: 312px;
                            height: 48px;
                            border: 1px solid #212121;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 20px;
                            margin-left: 24px;

                            button{
                                border: none;
                                background: none;
                                font-family: "Poppins";
                                font-weight: 600;
                                font-size: 16px;
                                color: #212121;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #shoulderbags{

        .main {

            .container {

                .home{
                    display: flex;
                    justify-content: center;
                }

                h1{
                    text-align: center;
                }

                .basics{
                    display: none;
                }

                .leftandright{

                    .allcategories{
                       
                        
                        .categories{
                            border: none;
                            height: 20px;
                            position: relative;

                            .downarrow{
                                display: none;
                            }

                            .uparrow{
                                display: block;
                                position: absolute;
                                right: 140px;
                                top: 13px;
                            }

                            ul{
                                display: none;
                            }
                        }

                        .material{
                            border: none;
                            height: 20px;

                            .downarrow{
                                display: none;
                            }

                            .uparrow{
                                display: block;
                                position: absolute;
                                right: 140px;
                                top: 13px;
                            }

                            .cloth, .cotton, .jeans, .leathers, .fur, .glitter {
                                display: none;
                            }
                        }

                        .secondmaterial{
                            border: none;
                            height: 20px;

                            .downarrow{
                                display: none;
                            }

                            .uparrow{
                                display: block;
                                position: absolute;
                                right: 140px;
                                top: 13px;
                            }

                            .items{
                                display: none;
                            }
                        }

                        .size{
                            border: none;
                            height: 20px;

                            .downarrow{
                                display: none;
                            }

                            .uparrow{
                                display: block;
                                position: absolute;
                                right: 140px;
                                top: 13px;
                            }

                            .sizeitems{
                                display: none;
                            }
                        }

                        .color{
                            border: none;
                            height: 20px;

                            .downarrow{
                                display: none;
                            }

                            .uparrow{
                                display: block;
                                position: absolute;
                                right: 140px;
                                top: 13px;
                            }

                            .firstrow, .secondrow{
                                display: none;
                            } 
                        }

                    }
                    
                    .bagsgrid{
                        display: grid;
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
  }